{{#if feature_image}}
<a class="opendialog openpinterestdialog" title="Pinterest" href="{{url absolute="true"}}" data-ihref="{{@blog.url}}{{feature_image}}" count-layout="horizontal">
  <i class="fa fa-pinterest"></i>
</a>
{{/if}}
